{1 {:name "genesis" :abbreviation "gn"}
 2 {:name "exodus" :abbreviation "ex"}
 3 {:name "leviticus" :abbreviation "lv"}
 4 {:name "numbers" :abbreviation "nm"}
 5 {:name "deuteronomy" :abbreviation "dt"}
 6 {:name "joshua" :abbreviation "jo"}
 7 {:name "judges" :abbreviation "jgs"}
 8 {:name "ruth" :abbreviation "ru"}
 9 {:name "1 samuel" :abbreviation "1 sm"}
 10 {:name "2 samuel" :abbreviation "2 sm"}
 11 {:name "1 kings" :abbreviation "1 kgs"}
 12 {:name "2 kings" :abbreviation "2 kgs"}
 13 {:name "1 chronicles" :abbreviation "1 chr"}
 14 {:name "2 chronicles" :abbreviation "2 chr"}
 15 {:name "ezra" :abbreviation "ezr"}
 16 {:name "nehemiah" :abbreviation "neh"}
 17 {:name "esther" :abbreviation "est"}
 18 {:name "job" :abbreviation "jb"}
 19 {:name "psalms" :abbreviation "ps"}
 20 {:name "proverbs" :abbreviation "prv"}
 21 {:name "ecclesiastes" :abbreviation "eccl"}
 22 {:name "song of songs" :abbreviation "sg"}
 23 {:name "isaiah" :abbreviation "is"}
 24 {:name "jeremiah" :abbreviation "jer"}
 25 {:name "lamentations" :abbreviation "lam"}
 26 {:name "ezekiel" :abbreviation "ez"}
 27 {:name "daniel" :abbreviation "dn"}
 28 {:name "hosea" :abbreviation "hos"}
 29 {:name "joel" :abbreviation "jl"}
 30 {:name "amos" :abbreviation "am"}
 31 {:name "obadiah" :abbreviation "ob"}
 32 {:name "jonah" :abbreviation "jon"}
 33 {:name "micah" :abbreviation "mi"}
 34 {:name "nahum" :abbreviation "na"}
 35 {:name "habakkuk" :abbreviation "hb"}
 36 {:name "zephaniah" :abbreviation "zep"}
 37 {:name "haggai" :abbreviation "hg"}
 38 {:name "zechariah" :abbreviation "zec"}
 39 {:name "malachi" :abbreviation "mal"}
 40 {:name "matthew" :abbreviation "mt"}
 41 {:name "mark" :abbreviation "mk"}
 42 {:name "luke" :abbreviation "lk"}
 43 {:name "john" :abbreviation "jn"}
 44 {:name "acts of the apostles" :abbreviation "acts"}
 45 {:name "romans" :abbreviation "rom"}
 46 {:name "1 corinthians" :abbreviation "1 cor"}
 47 {:name "2 corinthians" :abbreviation "2 cor"}
 48 {:name "galatians" :abbreviation "gal"}
 49 {:name "ephesians" :abbreviation "eph"}
 50 {:name "philippians" :abbreviation "phil"}
 51 {:name "colossians" :abbreviation "col"}
 52 {:name "1 thessalonians" :abbreviation "1 thes"}
 53 {:name "2 thessalonians" :abbreviation "2 thes"}
 54 {:name "1 timothy" :abbreviation "1 tm"}
 55 {:name "2 timothy" :abbreviation "2 tm"}
 56 {:name "titus" :abbreviation "ti"}
 57 {:name "philemon" :abbreviation "phlm"}
 58 {:name "hebrews" :abbreviation "heb"}
 59 {:name "james" :abbreviation "jas"}
 60 {:name "1 peter" :abbreviation "1 pt"}
 61 {:name "2 peter" :abbreviation "2 pt"}
 62 {:name "1 john" :abbreviation "1 jn"}
 63 {:name "2 john" :abbreviation "2 jn"}
 64 {:name "3 john" :abbreviation "3 jn"}
 65 {:name "jude" :abbreviation "jude"}
 66 {:name "revelation" :abbreviation "rev"}}
